:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact-card {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  max-height: 100%;
}

h3 {
  font-size: 1rem;
}

a {
  font-size: 0.95rem;
  text-decoration: underline;
  text-decoration-color: currentColor;

  &:hover {
    text-decoration-color: #67e8f9;
  }
}

svg {
  flex-shrink: 0;
}
