:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-slideDown {
  animation: slideDown 0.2s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.2s ease-in;
}

.title-container {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.long-text-animate {
  display: inline-block;
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-distance));
  }
}

.contenedor-imagenes {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background-image: url("/assets/images/fondo.webp");
  background-size: cover;
}

.contenedor-imagenes img {
  position: absolute;
  pointer-events: none;
}

.background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: 0;
  object-fit: cover;
  top: 0;
}

.joker,
.geralt,
.titulo {
  height: 40vh;
  z-index: 1;
  filter: drop-shadow(0 0 15px #ffffff);
}

.joker {
  left: 5vw;
  top: 8.7vh;
}

.titulo {
  left: 50%;
  top: 23vh;
  transform: translate(-50%, -50%);
}

.geralt {
  height: 50vh;
  right: 3vw;
  top: 5vh;
}

.bottom {
  width: 100%;
  height: 80vh;
  bottom: 0;
  z-index: 2;
  filter: drop-shadow(0 0 20px #67e8f9);
}

.difuminadoTexto {
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
}
