header {
  position: sticky;
  top: 0;
  z-index: 10;
}

img {
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.05);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grab:active {
  cursor: grabbing;
}

.no-select {
  user-select: none;
}

//Esto de arriba se puede borrar creo, era del header
