/* Contenedor del título: Oculta lo que se salga */
.title-container {
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to right, black 0%, black 95%, transparent 100%);
}

@keyframes scroll-wait-cycle {
  0%,
  20% {
    transform: translateX(0%);
  }

  70%,
  85% {
    transform: translateX(calc(-100% + 12rem));
  }

  85.1% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-scroll {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  padding-right: 1rem;
}

.long-text-animate {
  animation: scroll-wait-cycle 8s linear infinite;
}
