input:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
