input:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: auto;
}