@import "./reset.css";
@import "./bootstrap.min.css";
@import "./bootstrap-card.css";
@import "./prism.css";
@import "./ionicons.min.css";
@import "./compodoc.css";
@import "./tablesort.css";

/* Custom CSS Injected by Script */
/**
 * @file: src/assets/docs-custom.css
 * @project: GameSage - Plataforma de Videojuegos
 * @authors: Rosario González y Álvaro Jiménez
 * @description: Estilos personalizados para la documentación.
 */

.dark-mode-switch {
    right: 45px !important;
    top: 30px !important;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p {
    text-align: justify !important;
    text-justify: inter-word !important;
}

.content {
    padding: 30px !important;
}

body.dark {
    color-scheme: dark;
    scrollbar-color: #666666 #212121;
}

/* Ocultar la sección de Routes del menú lateral de Compodoc */
.menu li.chapter:has(a[href*="routes.html"]),
.menu li a[href*="routes.html"] {
    display: none !important;
}