services:
  - type: web
    name: node-server
    env: node
    root: node-server
    plan: free
    buildCommand: npm install && npm run build:full
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 10000
      - key: JWT_SECRET
        sync: false
      - key: ADMIN_EMAILS
        sync: false
