.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.difuminadoTexto {
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
}
