/**
 * @file: src/app/pages/cart/cart.component.scss
 * @project: GameSage - Plataforma de Videojuegos
 * @authors: Rosario González y Álvaro Jiménez
 * @description: Estilos para el componente del carrito de compras.
 */

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  height: 100%;
}

.no-text-decoration {
  text-decoration: none;
}

.cart-page-container {
  position: relative;
  min-height: 100%;
}