/**
 * @file: src/app/pages/admin/admin.component.scss
 * @project: GameSage - Plataforma de Videojuegos
 * @authors: Rosario González y Álvaro Jiménez
 * @description: Estilos para el componente principal del administrador.
 */

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}