.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.difuminadoTexto {
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
}
@media (max-width: 768px) {
  .mobile-responsive-carousel-title {
    font-size: 1.25rem !important; /* text-xl */
  }

  .mobile-responsive-padding {
    padding-left: 1.5rem !important; /* Increased padding to start further right */
    padding-right: 0.5rem !important;
  }
}
