/**
 * @file: src/app/pages/admin/developers/developer-list/developer-list.component.scss
 * @project: GameSage - Plataforma de Videojuegos
 * @authors: Rosario González y Álvaro Jiménez
 * @description: Estilos para el listado de desarrolladores.
 */

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}