<div class="app-container">
  <app-loading
    *ngIf="isLoading"
    [@leaveAnimation]="{
      value: ':leave',
      params: { duration: exitAnimationDuration },
    }"
  ></app-loading>
  <app-header
    [@headerRevealAnimation]="{
      value: isLoading ? 'hidden' : 'visible',
      params: { delay: exitAnimationDuration },
    }"
  ></app-header>
  <div
    class="main-content"
    [@revealAnimation]="{
      value: isLoading ? 'hidden' : 'visible',
      params: { duration: exitAnimationDuration },
    }"
  >
    <div class="route-container" [@routeFadeAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <app-error-toast></app-error-toast>
    <app-footer></app-footer>
  </div>
</div>
