.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111827;
  padding-top: 64px;
}

.route-container {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
