/**
 * @file: src/app/shared/components/loading/loading.component.scss
 * @project: GameSage - Plataforma de Videojuegos
 * @authors: Rosario González y Álvaro Jiménez
 * @description: Estilos para el componente de carga.
 */

:host {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #050b14;
  overflow: hidden;
}