<div class="min-h-screen bg-gray-900 text-white font-sans">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
    <div class="max-w-4xl mx-auto py-12 px-6 text-justify">
      <h2 class="text-4xl font-bold text-center mb-6 text-cyan-300">
        {{ "privacyScreen.title" | translate }}
      </h2>
      <p class="text-center text-gray-600 mb-10">
        <strong>{{ "privacyScreen.effective_date" | translate }}</strong>
      </p>
      <p class="mb-6">
        {{ "privacyScreen.intro" | translate }}
      </p>
      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section1_title" | translate }}
      </h2>
      <p class="mb-4">{{ "privacyScreen.section1_intro" | translate }}</p>

      <ul class="list-disc pl-8 space-y-2 mb-6">
        <li>{{ "privacyScreen.section1_list.0" | translate }}</li>
        <li>{{ "privacyScreen.section1_list.1" | translate }}</li>
        <li>{{ "privacyScreen.section1_list.2" | translate }}</li>
        <li>{{ "privacyScreen.section1_list.3" | translate }}</li>
        <li>{{ "privacyScreen.section1_list.4" | translate }}</li>
      </ul>

      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section2_title" | translate }}
      </h2>
      <p class="mb-4">{{ "privacyScreen.section2_intro" | translate }}</p>

      <ul class="list-disc pl-8 space-y-2 mb-6">
        <li>{{ "privacyScreen.section2_list.0" | translate }}</li>
        <li>{{ "privacyScreen.section2_list.1" | translate }}</li>
        <li>{{ "privacyScreen.section2_list.2" | translate }}</li>
        <li>{{ "privacyScreen.section2_list.3" | translate }}</li>
        <li>{{ "privacyScreen.section2_list.4" | translate }}</li>
      </ul>

      <p class="mb-6">
        {{ "privacyScreen.section2_notice" | translate }}
      </p>

      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section3_title" | translate }}
      </h2>
      <p class="mb-4">{{ "privacyScreen.section3_intro" | translate }}</p>

      <ul class="list-disc pl-8 space-y-2 mb-6">
        <li>{{ "privacyScreen.section3_list.0" | translate }}</li>
        <li>{{ "privacyScreen.section3_list.1" | translate }}</li>
        <li>{{ "privacyScreen.section3_list.2" | translate }}</li>
      </ul>

      <p class="mb-6">{{ "privacyScreen.section3_notice" | translate }}</p>

      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section4_title" | translate }}
      </h2>

      <ul class="list-disc pl-8 space-y-2 mb-6">
        <li>{{ "privacyScreen.section4_list.0" | translate }}</li>
        <li>{{ "privacyScreen.section4_list.1" | translate }}</li>
        <li>{{ "privacyScreen.section4_list.2" | translate }}</li>
      </ul>

      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section5_title" | translate }}
      </h2>
      <p class="mb-6">
        {{ "privacyScreen.section5_text" | translate }}
      </p>

      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section6_title" | translate }}
      </h2>
      <p class="mb-6">
        {{ "privacyScreen.section6_text" | translate }}
      </p>

      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section7_title" | translate }}
      </h2>
      <p class="mb-4">{{ "privacyScreen.section7_intro" | translate }}</p>

      <ul class="list-disc pl-8 space-y-2 mb-6">
        <li>{{ "privacyScreen.section7_list.0" | translate }}</li>
        <li>{{ "privacyScreen.section7_list.1" | translate }}</li>
        <li>{{ "privacyScreen.section7_list.2" | translate }}</li>
        <li>{{ "privacyScreen.section7_list.3" | translate }}</li>
        <li>{{ "privacyScreen.section7_list.4" | translate }}</li>
      </ul>

      <p class="mb-6">
        📧 {{ "privacyScreen.section7_contact" | translate }}
        <a
          href="mailto:info.gamesage@gmail.com"
          onclick="window.open('https://mail.google.com/mail/?view=cm&to=info.gamesage@gmail.com', '_blank'); return false;"
          class="text-cyan-300 underline hover:text-cyan-400 transition-colors"
        >
          info.gamesage&#64;gmail.com
        </a>
      </p>

      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section8_title" | translate }}
      </h2>
      <p class="mb-6">
        {{ "privacyScreen.section8_text" | translate }}
      </p>

      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section9_title" | translate }}
      </h2>
      <p class="mb-6">
        {{ "privacyScreen.section9_text" | translate }}
      </p>

      <h2 class="text-2xl font-semibold mt-10 mb-3">
        {{ "privacyScreen.section10_title" | translate }}
      </h2>
      <p class="mb-20">
        📧 {{ "privacyScreen.section10_text" | translate }}
        <a
          href="mailto:info.gamesage@gmail.com"
          onclick="window.open('https://mail.google.com/mail/?view=cm&to=info.gamesage@gmail.com', '_blank'); return false;"
          class="text-cyan-300 underline hover:text-cyan-400 transition-colors"
        >
          info.gamesage&#64;gmail.com
        </a>
      </p>
    </div>
  </div>
</div>
