/**
 * @file: src/app/pages/admin/games/game-list/game-list.component.scss
 * @project: GameSage - Plataforma de Videojuegos
 * @authors: Rosario González y Álvaro Jiménez
 * @description: Estilos para el componente de lista de juegos en el admin.
 */

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}