:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

.settings-card {
  border: 1px solid rgba(148, 163, 184, 0.28) !important;
}

.settings-input {
  border: 1px solid rgba(148, 163, 184, 0.28) !important;
}

.settings-dropdown-menu {
  border: 1px solid rgba(148, 163, 184, 0.28) !important;
}

.settings-chip {
  border: 1px solid rgba(148, 163, 184, 0.28) !important;
}

.settings-button {
  border: 1px solid rgba(148, 163, 184, 0.28) !important;
}

.settings-delete-parent {
  border: 1px solid rgba(148, 163, 184, 0.28) !important;
}
