.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111827;
}

app-header {
  display: block;
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 64px;
}

.route-container {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
