.title-container {
  overflow: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(to right, black 0%, black 90%, transparent 100%);
  transition: mask-image 0.1s ease-in-out, -webkit-mask-image 0.1s ease-in-out;
  &.mask-active {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
}

@keyframes scroll-linear {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-distance));
  }
}

.long-text-animate {
  display: inline-block;
  padding-right: 0.5rem;
  will-change: transform;
  &.animate-running {
    animation: scroll-linear var(--scroll-duration) linear forwards;
  }
}
