.title-container {
  overflow: hidden;
  position: relative;
  &.fade-mask {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 5%,
      black 95%,
      transparent 100%
    );
  }
}

@keyframes scroll-wait-cycle {
  0%,
  30% {
    transform: translateX(0);
  }

  70%,
  85% {
    transform: translateX(var(--scroll-distance));
  }

  85.1% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

.title-container span {
  display: inline-block;
  padding-right: 1rem;
}

.long-text-animate {
  animation: scroll-wait-cycle 8s linear infinite;
}
