/**
 * @file: src/app/pages/favourites/favourites.component.scss
 * @project: GameSage - Plataforma de Videojuegos
 * @authors: Rosario González y Álvaro Jiménez
 * @description: Estilos para el componente de favoritos.
 */

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

.no-text-decoration {
  text-decoration: none;
}